* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: ;
    background-image: url(../IMG/Fundo\ Color-blue.jpg);
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
 }
/* se a tela tiver pelo 400px vai carregar este estilo */
 @media (min-width: 400px) {
  body {
    font-size: 14px;
  }
 }
/* breakpoint */
 @media (min-width: 600px) {
   body {
     font-size: 18px;
   }
 }

 /* breakpoint */
 @media (min-width: 1200px) {
  body {
    font-size: 21px;
  }
}

 header {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
  
  .menu {
    background-color: white; 
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
    background: white;
    transition: background-color 1s, color 1s;
  }

  .menu a:hover {
    background-color: rgb(129, 144, 153);
    color: whitesmoke; 
  }

  a {
    color: ;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo {
    0% {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    }

    100% {
    transform: scale(1) translateY(0);
    opacity: 1;
    }
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: white;
  }
  .site-title {
    font-size: 4em;
    font-family: 'Tangerine', cursive;
  }
  
  .site-subtitle {
    font-style: italic;
    font-family: 'DM Mono', monospace;
    line-height: 2em;
  }

  .contato,
  .section.portfolio {
    padding: 2em;
    min-height: 100vh;
  }

  .contato h2,
  .portfolio h2 {
    font-family: 'Bangers', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
    
  }

  @media (min-width: 550px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 900px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px 240px;
      justify-content: center;
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {  
    height: 240px;
    width: 258px;
    object-fit: cover;
    /* object-position: ; posiciona a imagem */
    /* border-radius: ; arredonda as bordas da inagem */
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.1);

  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: whitesmoke;
    font-size: 7em;
    transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 20px black;
    /* para cores especificas: rgb  e  rgba  */
  }
